@model RJ.myUK.Site.ServiceLibrary.CurrencyExchangeRate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
           @Model.Rate   
        </div>
    </body>
</html>